<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text.css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body style="background-color: #d3d3d3;">

   <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
            <li class="nav-item"><a class="nav-link" href="/read_books">Read Books</a></li>
            <li class="nav-item"><a class="nav-link" href="/new_book">New Book</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile">Your Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/signout">Sign Out</a></li>
        </ul>
      </div>
    </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success">
               {{ message }}
          </div>
          {% endfor %}

        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      <script src="jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load",function(){
        window.cookieconsent.initialise({
            "palette":{
                "popup":{
                    "background": "#eaf7f7",
                    "text": "#5c7291"
                },
                "button":{
                    "background": "#56cbdb",
                    "text": "#ffffff"
                }
            },
            "content": {
                "message": "This website uses cookies to stalk you    ",
                "dismiss": "Great"
            }
        })
    })
    </script>
  </body>
</html>
