{% extends "base.html" %}
 {% block content %}
<h1 style="text-align:center;">Login</h1>
 <div style="width: 400px;margin:auto;text-align:center;">
 <form action="" method="post" name="login">
     {{ form.hidden_tag() }}
     <h3>Username<h3>
     <p>
        {{ form.username }}<br>
     </p>
     {% for error in form.username.errors %}
         [{{ error }}]
     {% endfor %}
     <h3>Password<h3>
     <p>
        {{ form.password }}<br>
     </p>
     {% for error in form.password.errors %}
         [{{ error }}]
     {% endfor %}
     <p><input type="submit" class="btn btn-primary" value="Login"></p>
     <a href = '/signup'></b>Click here to make a new account</b></a>
     <br><br>
     <a href = '/change_password'></b>Click here to change your password</b></a>
 </form>
 </div>
{% endblock %}
