{% extends "base.html" %}
 {% block content %}
<h1 style="text-align:center;">Add a new book to your collection</h1>
<div style="width: 400px;margin:auto;text-align:center;">
<form action="" method="post" name="new_book">
    {{ form.hidden_tag() }}
    <h3>Title<h3>
    <p>
       {{ form.title }}<br>
    </p>
    {% for error in form.title.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Author<h3>
    <p>
       {{ form.author }}<br>
    </p>
    {% for error in form.author.errors %}
        [{{ error }}]
    {% endfor %}
    <p><input type="submit" class="btn btn-primary" value="Add new book"></p>
</form>
</div>
{% endblock %}
