{% extends "base.html" %}
 {% block content %}
    <div style=text-align:center;>
    <h1>Profile</h1>
    <h3 style="font-size:26px;text-decoration:underline;">Username</h3>
    <h3 style="font-size:22px;">{{ user }}</h3>
    <h3 style="font-size:26px;text-decoration:underline;">Name</h3>
    <h3 style="font-size:22px;">{{ profile.first_name }} {{ profile.last_name }}</h3>
    <h3 style="font-size:26px;text-decoration:underline;">Email</h3>
    <h3 style="font-size:22px;">{{ profile.email }}</h3>
    <h3 style="font-size:26px;text-decoration:underline;">Phone Number</h3>
    <h3 style="font-size:22px;">{{ profile.phone_number }}</h3>
    <h3 style="font-size:26px;text-decoration:underline;">Date Of Birth</h3>
    <h3 style="font-size:22px;">{{ profile.DOB }}</h3>
    <h3 style="font-size:26px;text-decoration:underline;">Amount of books read</h3>
    <h3 style="font-size:22px;">{{ booksread }}</h3>
    </div>

{% endblock %}
