{% extends "base.html" %}
 {% block content %}
<h1 style="text-align:center;">All books you have read</h1>
<p style="text-align:center;">signed in as : {{ user }}</p>
{% for a in books %}
<br>
<div style="outline: 2px solid black; width: 400px;margin:auto;background-color:white;text-align:center;">
    <br>
    <h3 style="font-size:22px;text-decoration:underline;">Book title</h3>
    <h3 style="font-size:18px;">{{ a.title }}</h3>
    <h3 style="font-size:22px;text-decoration:underline;">Author</h3>
    <h3 style="font-size:18px;">{{ a.author }}</h3>
<div>
<br>
{% endfor %}
{% endblock %}
