{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<h1>Set session variable</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
       {{ form.value }}<br>
    </p>
    <p><input type="submit" value="Calculate"></p>
</form>
{% endblock %}
