{% extends "base.html" %}
 {% block content %}
<h1 style="text-align:center;">Sign Up</h1>
<div style="width: 400px;margin:auto;text-align:center;">
<form action="" method="post" name="signup">
    {{ form.hidden_tag() }}
    <h3>First Name<h3>
    <p>
       {{ form.first_name }}<br>
    </p>
    {% for error in form.first_name.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Last Name<h3>
    <p>
       {{ form.last_name }}<br>
    </p>
    {% for error in form.last_name.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Email<h3>
    <p>
       {{ form.email }}<br>
    </p>
    {% for error in form.email.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Phone Number<h3>
    <p>
       {{ form.phone_number }}<br>
    </p>
    {% for error in form.phone_number.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Date Of Birth<h3>
    <p>
       {{ form.DOB }}<br>
    </p>
    {% for error in form.DOB.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Username<h3>
    <p>
       {{ form.username }}<br>
    </p>
    {% for error in form.username.errors %}
        [{{ error }}]
    {% endfor %}
    <h3>Password<h3>
    <p>
       {{ form.password }}<br>
    </p>
    {% for error in form.password.errors %}
        [{{ error }}]
    {% endfor %}
    <p><input type="submit" class="btn btn-primary" value="Sign Up"></p>
</form>
</div>
{% endblock %}
